{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="{% static 'style_tow.css' %}"> 
</head>
<body>

    <div class="postrow">

    <div class="minip">
    <div class="circle">
        <div class="imageb">
        <div class="image"></div>
        </div>
    </div>
    <div class="name">romilda matherson</div>
    <div class="icon"><i class="las la-crown"></i></div>
    <div class="group">
        ROYAL FAMILY <br>
        crown princess
    </div>
    <div class="details">
        <age><span>26</span> years old</age>
        <bar></bar>
        <pronouns>she/her</pronouns>
    </div>
    <div class="details">
        <posts><span>666</span> posts</posts>
        <bar></bar>
        <points><span>6969</span> points</points>
    </div>
    <div class="details">
        played by&nbsp; <span>summer</span>
        <bar></bar>
        <span>plotter</span>
    </div>
    </div>

    <div class="post">
        <div class="temp">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. <br><br>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
    </div>
    
    <div class="buttons">
        <a>posted <span>26 december 2020</span></a>
        <bar></bar>
        <a>quote</a>
        <a>edit</a>
        <a>delete</a>
    </div>
    </div>

</body>
</html>